@import "vars";
@import "fonts";
@import "libs";

::placeholder {
	color: #666;
}

::selection {
	background-color: $accent;
	color: #fff;
}

body {
	font-size: 16px;
	min-width: 320px;
	position: relative;
	line-height: 1.65;
	font-family: $default-font;
	overflow-x: hidden;
	color: $text;
	input,
	textarea {
		border: #666 1px solid;
		outline: none;
		&:focus:required:invalid {
			border-color: red;
		}
		&:required:valid {
			border-color: green;
		}
	}
}

.img-responsive {
	display: block;
	max-width: 100%;
	height: auto;
	&.img-width {
		width: 100%;
	}
}

.text-center {
	text-align: center;
}

b,
strong {
	font-weight: bold;
}

body {
	background-color: #727aab;
}

/*Настройка слик слайдера*/
.single-item {
	position: relative;
	z-index: 2;
}

.slider-arrow {
	position: absolute;
	bottom: -42px;
	z-index: 99;
	height: 20px;
	width: 29px;
	cursor: pointer;
	&__right {
		background: url(../img/@1x/arrow-right__unactive.png) center no-repeat;
		right: 50%;
		margin-right: -150px;
	}

	&__left {
		background: url(../img/@1x/arrow-left__unactive.png) center no-repeat;
		left: 50%;
		margin-left: -150px;
	}
}
/*конец настройки слик слайдера*/

@import "media"; // Always at the end
